.SInputCxt {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    height: 440px;
    min-height: 280px;
    width: 490px;
    min-width: 340px;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}